@keyframes growFind {
    0% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

.outer-box {
    background-color: yellow;
    color: darkblue;
    text-align: center;
    height: 75px;
    width: 75px;
    padding-top: 15px;    
    margin: 10px;
    display: inline-block;
}
.outer-box span {
    background-color: aquamarine;
    color: darkblue;
    text-align: center;
    width: 35px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.grow-find {
    transition: ease-in 500ms;
}

.highlight {
    transition: ease-in 300ms;
    transform: scale3d(1.25, 1.25, 1.25);
    margin: 24px;
}

.btn-green {
    background-color: green;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
}